# Dependencies
node_modules/

# Sample Office docs for testing
test/

# Compiled Output files
dist/

# Generated project status files with the name [project]-[quarter]-[year].json
*-*-*.json

# Published artifacts
deploy/
